<div>
<div style="display: flex;">
  <div style="flex: 1; background-color: #D8CCB6;">

  </div>
  <div  style="">
<img src="../../../assets/reformation-skirt-2.png" class="image">
</div>
<div  style="flex: 1; background-color: #D8CCB6;">

</div>
</div>
<div style="width: 100%; background-color: #E97988" class="background">

</div>
</div>
<div class="sideText">CASUAL SPRING</div>
<div style="width: 100%; background-color: #e29e9d; padding-right: 30px; padding-left: 30px; position: absolute; z-index: 2; margin-top: -50px;">
  <div class="blogContainer">
    <div style="display: flex; flex-flow: row; justify-content: flex-start; font-family: Regular; ">
      <div style="font-size: 10px; color: #5D5D5D;">Casual</div><div style="width: 5px; height: 5px; background-color: #E97988; border: none; border-radius: 50%; margin-left: 5px; margin-right: 5px; transform: translateY(3px);"></div><div style="font-size: 10px; color: #5D5D5D;">3/31/2019</div>

    </div>
    <div class="blogTitle">
      <b>
      My Favorate Way To Wear Jeans This Summer.
    </b>
    </div>
    <div style="display: flex; flex-direction: row; justify-content: space-evenly; margin-top: 10px;">
      <div>
        <img src="../../../../assets/ttt-rebelluxury_1.jpg" alt="" class="blogImageMain">
      </div>
      <div>
        <img src="../../../../assets/Uniqlo-x-J-W-Anderson-5-1044x1566.jpg" alt="" class="blogImageMain">
      </div>
      <div>
        <img src="../../../../assets/Golbourne-1-1044x1566.jpg" alt="" class="blogImageMain">
      </div>

    </div>
    <br>
    <div style="text-align: center;">
      <div  class="ReadNow">
        <div>
        READNOW
        </div>
      </div>
    </div>
  </div>
</div>
<div>
  <div style="margin-top: 140px;">
  <div style="display: flex; ">
    <div style="flex: 1; background-color: #E2E2E2;">

    </div>
    <div  style="">
      <img src="../../../../assets/adidas-originals-3-stripes-piping-leggings-blue-1200170-069227-ybkwyqfvojuxqp-683-600x600_0.png" class="image" >
  </div>
  <div  style="flex: 1; background-color: #E2E2E2;">

  </div>
  </div>
  <div style="width: 100%; background-color: #52ACE0" class="background">

  </div>
  </div>
  <div class="sideText">SPORTY SPICE</div>
  <div style="width: 100%; background-color: #87c2e4;  padding-right: 30px; padding-left: 30px; position: absolute; z-index: 2; margin-top: -50px;">
    <div class="blogContainer">
      <div style="display: flex; flex-flow: row; justify-content: flex-start; font-family: Regular; ">
        <div style="font-size: 10px; color: #5D5D5D;">Casual</div><div style="width: 5px; height: 5px; background-color: #E97988; border: none; border-radius: 50%; margin-left: 5px; margin-right: 5px; transform: translateY(3px);"></div><div style="font-size: 10px; color: #5D5D5D;">3/31/2019</div>

      </div>
      <div class="blogTitle">
        <b>
        My Favorate Way To Wear Jeans This Summer.
      </b>
      </div>
      <div style="display: flex; flex-direction: row; justify-content: space-evenly; margin-top: 10px;">
        <div>
          <img src="../../../../assets/ttt-rebelluxury_1.jpg" alt="" class="blogImageMain">
        </div>
        <div>
          <img src="../../../../assets/Uniqlo-x-J-W-Anderson-5-1044x1566.jpg" alt="" class="blogImageMain">
        </div>
        <div>
          <img src="../../../../assets/Golbourne-1-1044x1566.jpg" alt="" class="blogImageMain">
        </div>

      </div>
      <br>
      <div style="text-align: center;">
        <div  class="ReadNow">
          <div>
          READNOW
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div style=" margin-top: 140px; background-color: #A2CABE; text-align: center;   padding-top: 30px;">
  <div class="head">TOP STORIES</div>
  <div class="scrolling-wrapper">
    <div class="card">
      <div class="story-container">
        <div style="display: flex;">
          <div>
            <img src="assets\final-1.png" alt="" style="width: 50px; height: 50px;">
          </div>
          <div style="text-align: left !important;">
            <div class="Name">
              Kevin Smith
            </div>
            <div class="discription">
              Blogger From NewZeland
            </div>
          </div>
          <div style=" align-items: center;
          justify-content: center; display:flex;">
            <a>
            <div class="follow-button">
              <div>

              Follow
            </div>

            </div>
          </a>
          </div>
        </div>
        <div  class="header-small">
          The Denim Game
        </div>
        <div>
          <div style="display: flex; flex-flow: row; justify-content: flex-start; font-family: Regular; margin-left: 15px;">
            <div style="font-size: 10px; color: #5D5D5D;">Casual</div><div style="width: 7px; height: 7px; background-color: #E97988; border: none; border-radius: 50%; margin-left: 5px; margin-right: 5px; transform: translateY(2px);"></div><div style="font-size: 10px; color: #5D5D5D;">3/31/2019</div>
          </div>
      </div>
        <div style="display: flex; align-items: center; justify-content: center;">

          <div>
            <img src="assets\Uniqlo-x-J-W-Anderson-5-1044x1566.jpg"  class="image-small">
          </div>
        </div>
        <div style="display: flex; justify-content: center;">
          <div class="read">
            READ NOW
          </div>
        </div>
      </div>
    </div>
    <div class="card"><div class="story-container">
      <div style="display: flex;">
        <div>
          <img src="assets\final-1.png" alt="" style="width: 50px; height: 50px;">
        </div>
        <div style="text-align: left !important;">
          <div class="Name">
            Kevin Smith
          </div>
          <div class="discription">
            Blogger From NewZeland
          </div>
        </div>
        <div style=" align-items: center;
        justify-content: center; display:flex;">
          <a>
          <div class="follow-button">
            <div>

            Follow
          </div>

          </div>
        </a>
        </div>
      </div>
      <div  class="header-small">
        The Denim Game
      </div>
      <div>
        <div style="display: flex; flex-flow: row; justify-content: flex-start; font-family: Regular; margin-left: 15px;">
          <div style="font-size: 10px; color: #5D5D5D;">Casual</div><div style="width: 7px; height: 7px; background-color: #E97988; border: none; border-radius: 50%; margin-left: 5px; margin-right: 5px; transform: translateY(2px);"></div><div style="font-size: 10px; color: #5D5D5D;">3/31/2019</div>
        </div>
    </div>
      <div style="display: flex; align-items: center; justify-content: center;">

        <div>
          <img src="assets\Uniqlo-x-J-W-Anderson-5-1044x1566.jpg"  class="image-small">
        </div>
      </div>
      <div style="display: flex; justify-content: center;">
        <div class="read">
          READ NOW
        </div>
      </div>
    </div></div>
    <div class="card"><div class="story-container">
        <div style="display: flex;">
          <div>
            <img src="assets\final-1.png" alt="" style="width: 50px; height: 50px;">
          </div>
          <div style="text-align: left !important;">
            <div class="Name">
              Kevin Smith
            </div>
            <div class="discription">
              Blogger From NewZeland
            </div>
          </div>
          <div style=" align-items: center;
          justify-content: center; display:flex;">
            <a>
            <div class="follow-button">
              <div>

              Follow
            </div>

            </div>
          </a>
          </div>
        </div>
        <div  class="header-small">
          The Denim Game
        </div>
        <div>
          <div style="display: flex; flex-flow: row; justify-content: flex-start; font-family: Regular; margin-left: 15px;">
            <div style="font-size: 10px; color: #5D5D5D;">Casual</div><div style="width: 7px; height: 7px; background-color: #E97988; border: none; border-radius: 50%; margin-left: 5px; margin-right: 5px; transform: translateY(2px);"></div><div style="font-size: 10px; color: #5D5D5D;">3/31/2019</div>
          </div>
      </div>
        <div style="display: flex; align-items: center; justify-content: center;">

          <div>
            <img src="assets\Uniqlo-x-J-W-Anderson-5-1044x1566.jpg"  class="image-small">
          </div>
        </div>
        <div style="display: flex; justify-content: center;">
          <div class="read">
            READ NOW
          </div>
        </div>
      </div></div>
    <div class="card"></div>
    <div class="card"><div class="story-container">
      <div style="display: flex;">
        <div>
          <img src="assets\final-1.png" alt="" style="width: 50px; height: 50px;">
        </div>
        <div style="text-align: left !important;">
          <div class="Name">
            Kevin Smith
          </div>
          <div class="discription">
            Blogger From NewZeland
          </div>
        </div>
        <div style=" align-items: center;
        justify-content: center; display:flex;">
          <a>
          <div class="follow-button">
            <div>

            Follow
          </div>

          </div>
        </a>
        </div>
      </div>
      <div  class="header-small">
        The Denim Game
      </div>
      <div>
        <div style="display: flex; flex-flow: row; justify-content: flex-start; font-family: Regular; margin-left: 15px;">
          <div style="font-size: 10px; color: #5D5D5D;">Casual</div><div style="width: 7px; height: 7px; background-color: #E97988; border: none; border-radius: 50%; margin-left: 5px; margin-right: 5px; transform: translateY(2px);"></div><div style="font-size: 10px; color: #5D5D5D;">3/31/2019</div>
        </div>
    </div>
      <div style="display: flex; align-items: center; justify-content: center;">

        <div>
          <img src="assets\Uniqlo-x-J-W-Anderson-5-1044x1566.jpg"  class="image-small">
        </div>
      </div>
      <div style="display: flex; justify-content: center;">
        <div class="read">
          READ NOW
        </div>
      </div>
    </div></div>

  </div>
  <br>
<br>
<br>
<br>
</div>

