.image {
  height: 150px;
}
.background {
  height: 150px;
  opacity: 57%;
  margin-top: -150px;
}
.sideText {
  position: absolute;
  color: #ffffff;
  font-family: Enhance;
  font-size: 30px;
  width: 100%;
  margin-top: -100px;
  text-align: center;
  z-index: 200 !important;

  /* transform: translateX(30px); */


}
.text {
  color: #ffffff;
  font-family: Enhance;
  font-size: 30px;
  width: 100%;
  margin-top: -100px;
  text-align: center;
}
.blogContainer {
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.16);
  /* transform: translateY(-1050px); */
  background: #ffffff;
  padding-left: 10px;
  padding-top: 5px;
  padding-right: 10px;

}
.blogTitle {
  font-family: Regular;
  color: #5D5D5D;
  font-size: 13px;
}
.blogText {

  color: #5D5D5D;
  font-family: Regular;
  font-size: 12px;
}
.blogImageMain {
  height: 100px;
  border: #5D5D5D 2px solid;
}
.ReadNow {

  color: #5D5D5D;
  font-family: Subtract;
  font-size: 20px;
  /* transform: translateX(-20px); */
  }
  .head {
    position: relative;
    color: #ffffff;
    font-family: Enhance;
    font-size: 30px;

  }

  .scrolling-wrapper {
    margin-top: 10px;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch !important;
    &::-webkit-scrollbar {
      display: none;
    }
  }
  .card {
    display: inline-block;
  }
  .Name {
    color: #2D4A86;
    font-family: Regular;
    font-size: 15    px;
    margin-left: 15px;
  }

  .discription {
    color: #5D5D5D;
    font-family: Regular;
    font-size: 13px;
    margin-left: 15px;
  }
  .story-container {
    background: #ffffff;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.16);
    margin-left: 25px;
    padding-top: 5px;
    padding-right: 5px;
    padding-left: 5px;
    margin-right: 5px;


  }
  .follow-button {
    display: flex;
    border: 2px solid #2D4A86;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 2px;
    border-radius: 30px;
    color: #2D4A86 !important;
    font-family: Regular;
    cursor: pointer !important;
    margin-left: 10px;


  }
  .follow-button :hover {
    cursor: pointer !important;
  }
  .header-small {
    text-align: left;
    margin-top: 10px;
    font-family: Regular;
    font-size: 15px;
    color: #5D5D5D;
    margin-left: 15px;

  }
  .read {
    margin-top: 10px;
    font-family: Subtract;
    color: #5D5D5D;
    font-size: 25px;
    margin-bottom: 10px;
  }
  .image-small {
    height: 300px;
    border: 3px solid #5D5D5D;
    margin-top: 20px;
  }
