.background {
  background-color: #E97988;
  height: 500px;
  width: 100%;
  opacity: 57%;
  transform: translateY(-527px);
  display: flex;
  align-items: center;



}
.background2 {
  background-color: #52ACE0;
  height: 500px;
  width: 100%;
  opacity: 57%;
  transform: translateY(-527px);
  display: flex;
  align-items: center;



}
.titleSide {
  opacity: 100% !important;
  z-index: 100 !important;
  transform: translateY(-800px);
  width: 313.725px;
  text-align: center;


}
.sideText {
  color: #ffffff;
  font-family: Enhance;
  font-size: 45px;
  transform: translateX(30px);


}
.exploreButton {
  background-color: #D66262;
  border-radius: 55px;
  width: 230px;
  font-family: Enhance;
  color: #ffffff;
  font-size: 25px;
  padding-top: 10px;
  padding-bottom: 5px;
  transform: translateX(70px);
  padding-left: 15px;
  padding-right: 15px;
}
.exploreButton:hover {
  cursor: pointer;
}
.titleImage {

}
.innerContainer {
  display: flex;
  flex-flow: row;
  transform: translateY(-27px);

}
.space {
  flex-grow: 2;
  background-color: #D8CCB6;
  height: 500px;
}
.space2 {
  flex-grow: 2;
  background-color: #E2E2E2;
  height: 500px;
}

.blogContainer {
  height: 430px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.16);
  transform: translateY(-1050px);
  background: #ffffff;
  display: flex;

}
.arrow {
  display: flex;
  font-size: 50px;
  color: #5D5D5D;
  font-family: Enhance;
  align-items: center;
}
 .blogTitle {
   font-family: Regular;
   color: #5D5D5D;
   font-size: 25px;
 }
.blogText {

  color: #5D5D5D;
  font-family: Regular;
  height: 55px;
  font-size: 16px;

}
.blogImageMain {
  margin-top: 15px;
  height: 200px;
  margin-right: 80px;
  border: #5D5D5D 2px solid;
}
.ReadNow {
display: flex;
flex-grow: 2;
text-align: center;
justify-content: center;
align-items: center;
color: #5D5D5D;
font-family: Subtract;
font-size: 30px;
transform: translateX(-20px);
}
