<div style="position: absolute;">
<div style="z-index: 200; position: relative;">
<div class="innerContainer">
<div class="titleImage" style="text-align: center;">
  <img src="../../../../assets/reformation-skirt-2.png" style="height: 500px; ">

</div>
<div class="space">

</div>
</div>
<div style="position: relative !important;">
<div class="background">

</div>
<div class="titleSide">
  <div class="sideText">CASUAL<br>SPRING</div>
  <br>
  <div class="exploreButton">Explore Now</div>
</div>
</div>
<div style="display: flex; justify-content: flex-end; padding-right: 50px;margin-top: -300px;">
<div  class="col-md-8 blogContainer">
  <div  class="arrow">
   <p> <  </p>
    </div>
    <div style=" flex-grow: 3; padding: 10px;" >
      <div style="display: flex; flex-flow: row; justify-content: flex-start; font-family: Regular; ">
        <div style="font-size: 20px; color: #5D5D5D;">Casual</div><div style="width: 10px; height: 10px; background-color: #E97988; border: none; border-radius: 50%; margin-left: 5px; margin-right: 5px; transform: translateY(7px);"></div><div style="font-size: 20px; color: #5D5D5D;">3/31/2019</div>
      </div>
      <br>
      <div class="blogTitle">
        <b>
        My Favorate Way To Wear Jeans This Summer.
      </b>
      </div>
      <br>
      <div class="blogText">
        {{ blogBody | truncate: 220  }}
      </div>
      <div style="display: flex; flex-direction: row;">
        <div>
          <img src="../../../../assets/ttt-rebelluxury_1.jpg" alt="" class="blogImageMain">
        </div>
        <div>
          <img src="../../../../assets/Uniqlo-x-J-W-Anderson-5-1044x1566.jpg" alt="" class="blogImageMain">
        </div>
        <div>
          <img src="../../../../assets/Golbourne-1-1044x1566.jpg" alt="" class="blogImageMain">
        </div>
        <div  class="ReadNow">
          <div>
          READNOW
          </div>
        </div>
      </div>
      <div style="display: flex; justify-content: center; align-items: center;">
        <div style="height: 10px; width: 10px; background-color: #5D5D5D; margin-top: 15px; margin-right: 15px;"></div>
        <div style="height: 10px; width: 10px; background-color: #5D5D5D; margin-top: 15px; opacity: 69%;"></div>
        <div style="height: 10px; width: 10px; background-color: #5D5D5D; margin-top: 15px; margin-left: 15px; opacity: 69%;"></div>
      </div>

    </div>

    <div class="arrow">
    >
    </div>

</div>
</div>
</div>

<div style=" z-index: 1; position: relative;">
  <div class="innerContainer">
    <div class="space2">

    </div>
    <div class="titleImage" style="text-align: center;">
      <img src="../../../../assets/adidas-originals-3-stripes-piping-leggings-blue-1200170-069227-ybkwyqfvojuxqp-683-600x600_0.png" style="height: 500px; ">
    </div>
  </div>
  <div class="background2">
  </div>
  <div style="width: 100%; display: flex; align-items: flex-end; flex-flow: row-reverse;">
  <div class="titleSide2" style="position: relative; right: 10px;">
    <div class="sideText">SPORTY<br>SPICE</div>
    <br>
    <div class="exploreButton" style="background-color: #3E7899;">Explore Now</div>
  </div>
</div>
</div>
<div style="display: flex; justify-content: flex-end; padding-left: 50px; flex-flow: row-reverse;  z-index: 100; position: relative; margin-top: -350px;">
  <div  class="col-md-8 blogContainer">
    <div  class="arrow">
     <p> <  </p>
      </div>
      <div style=" flex-grow: 3; padding: 10px;" >
        <div style="display: flex; flex-flow: row; justify-content: flex-start; font-family: Regular; ">
          <div style="font-size: 20px; color: #5D5D5D;">Casual</div><div style="width: 10px; height: 10px; background-color: #E97988; border: none; border-radius: 50%; margin-left: 5px; margin-right: 5px; transform: translateY(7px);"></div><div style="font-size: 20px; color: #5D5D5D;">3/31/2019</div>
        </div>
        <br>
        <div class="blogTitle">
          <b>
          My Favorate Way To Wear Jeans This Summer.
        </b>
        </div>
        <br>
        <div class="blogText">
          {{ blogBody | truncate: 220  }}
        </div>
        <div style="display: flex; flex-direction: row;">
          <div>
            <img src="../../../../assets/ttt-rebelluxury_1.jpg" alt="" class="blogImageMain">
          </div>
          <div>
            <img src="../../../../assets/Uniqlo-x-J-W-Anderson-5-1044x1566.jpg" alt="" class="blogImageMain">
          </div>
          <div>
            <img src="../../../../assets/Golbourne-1-1044x1566.jpg" alt="" class="blogImageMain">
          </div>
          <div  class="ReadNow">
            <div>
            READNOW
            </div>
          </div>
        </div>
        <div style="display: flex; justify-content: center; align-items: center;">
          <div style="height: 10px; width: 10px; background-color: #5D5D5D; margin-top: 15px; margin-right: 15px;"></div>
          <div style="height: 10px; width: 10px; background-color: #5D5D5D; margin-top: 15px; opacity: 69%;"></div>
          <div style="height: 10px; width: 10px; background-color: #5D5D5D; margin-top: 15px; margin-left: 15px; opacity: 69%;"></div>
        </div>

      </div>

      <div class="arrow" >
      >
      </div>

  </div>
  </div>

  <div class="top-story-background">
    <p  class="top-story-head">TOP STORIES</p>
    <div style="display: flex; padding-left: 30px; padding-right: 30px; padding-bottom: 50px; padding-top: 50px;">
      <div  class="arrow" style="font-size: 80px !important;">
        <p> <  </p>
      </div>
      <div style=" flex-grow: 3; display: flex; justify-content: space-evenly;">
        <div class="story-container">
          <div style="display: flex;">
            <div>
              <img src="assets\final-1.png" alt="">
            </div>
            <div style="text-align: left !important;">
              <div class="Name">
                Kevin Smith
              </div>
              <div class="discription">
                Blogger From NewZeland
              </div>
            </div>
            <div style=" align-items: center;
            justify-content: center; display:flex;">
              <a>
              <div class="follow-button">
                <div>

                Follow
              </div>

              </div>
            </a>
            </div>
          </div>
          <div  class="header-small">
            The Denim Game
          </div>
          <div>
            <div style="display: flex; flex-flow: row; justify-content: flex-start; font-family: Regular; margin-left: 15px;">
              <div style="font-size: 10px; color: #5D5D5D;">Casual</div><div style="width: 7px; height: 7px; background-color: #E97988; border: none; border-radius: 50%; margin-left: 5px; margin-right: 5px; transform: translateY(2px);"></div><div style="font-size: 10px; color: #5D5D5D;">3/31/2019</div>
            </div>
        </div>
          <div style="display: flex; align-items: center; justify-content: center;">

            <div>
              <img src="assets\Uniqlo-x-J-W-Anderson-5-1044x1566.jpg"  class="image-small">
            </div>
          </div>
          <div style="display: flex; justify-content: center;">
            <div class="read">
              READ NOW
            </div>
          </div>
        </div>
        <div class="story-container">
          <div style="display: flex;">
            <div>
              <img src="assets\final-1.png" alt="">
            </div>
            <div style="text-align: left !important;">
              <div class="Name">
                Kevin Smith
              </div>
              <div class="discription">
                Blogger From NewZeland
              </div>
            </div>
            <div style=" align-items: center;
            justify-content: center; display:flex;">
              <a>
              <div class="follow-button">
                <div>

                Follow
              </div>

              </div>
            </a>
            </div>
          </div>
          <div  class="header-small">
            The Denim Game
          </div>
          <div>
            <div style="display: flex; flex-flow: row; justify-content: flex-start; font-family: Regular; margin-left: 15px;">
              <div style="font-size: 10px; color: #5D5D5D;">Casual</div><div style="width: 7px; height: 7px; background-color: #E97988; border: none; border-radius: 50%; margin-left: 5px; margin-right: 5px; transform: translateY(2px);"></div><div style="font-size: 10px; color: #5D5D5D;">3/31/2019</div>
            </div>
        </div>
          <div style="display: flex; align-items: center; justify-content: center;">

            <div>
              <img src="assets\Uniqlo-x-J-W-Anderson-5-1044x1566.jpg"  class="image-small">
            </div>
          </div>
          <div style="display: flex; justify-content: center;">
            <div class="read">
              READ NOW
            </div>
          </div>
        </div>
        <div class="story-container">
          <div style="display: flex;">
            <div>
              <img src="assets\final-1.png" alt="">
            </div>
            <div style="text-align: left !important;">
              <div class="Name">
                Kevin Smith
              </div>
              <div class="discription">
                Blogger From NewZeland
              </div>
            </div>
            <div style=" align-items: center;
            justify-content: center; display:flex;">
              <a>
              <div class="follow-button">
                <div>

                Follow
              </div>

              </div>
            </a>
            </div>
          </div>
          <div  class="header-small">
            The Denim Game
          </div>
          <div>
            <div style="display: flex; flex-flow: row; justify-content: flex-start; font-family: Regular; margin-left: 15px;">
              <div style="font-size: 10px; color: #5D5D5D;">Casual</div><div style="width: 7px; height: 7px; background-color: #E97988; border: none; border-radius: 50%; margin-left: 5px; margin-right: 5px; transform: translateY(2px);"></div><div style="font-size: 10px; color: #5D5D5D;">3/31/2019</div>
            </div>
        </div>
          <div style="display: flex; align-items: center; justify-content: center;">

            <div>
              <img src="assets\Uniqlo-x-J-W-Anderson-5-1044x1566.jpg"  class="image-small">
            </div>
          </div>
          <div style="display: flex; justify-content: center;">
            <div class="read">
              READ NOW
            </div>
          </div>
        </div>
      </div>
      <div  class="arrow" style="font-size: 80px !important;">
        <p> >  </p>
      </div>
    </div>
  </div>


