.background {
  background-color: #E97988;
  height: 500px;
  width: 100%;
  opacity: 57%;
  /* transform: translateY(-527px); */
  margin-top: -500px;
  display: flex;
  align-items: center;
  z-index: 200 !important;




}
.background2 {
  background-color: #52ACE0;
  height: 502px;
  width: 100%;
  opacity: 57%;
  /* transform: translateY(-527px); */
  margin-top: -502px;
  display: flex;
  align-items: center;



}
.titleSide {
  opacity: 100% !important;
  /* transform: translateY(-800px); */
  margin-top: -300px;
  width: 313.725px;
  text-align: center;
  z-index: 300 !important;
  position: relative;



}
.titleSide2 {
  opacity: 100% !important;
  transform: translateY(-100px);
  margin-top: -300px;
  width: 313.725px;
  text-align: center;
  z-index: 300 !important;
  position: relative;



}
.sideText {
  color: #ffffff;
  font-family: Enhance;
  font-size: 45px;
  z-index: 400 !important;

  /* transform: translateX(30px); */


}
.exploreButton {
  background-color: #D66262;
  border-radius: 55px;
  width: 230px;
  font-family: Enhance;
  color: #ffffff;
  font-size: 25px;
  padding-top: 10px;
  padding-bottom: 5px;
  /* transform: translateX(70px); */
  padding-left: 15px;
  padding-right: 15px;
  z-index: 400 !important;
  margin-left: 50px;

}
.exploreButton:hover {
  cursor: pointer;
}
.titleImage {
}
.innerContainer {
  display: flex;
  flex-flow: row;
  /* transform: translateY(-27px); */
  margin-top: -27px;

}
.space {
  flex-grow: 2;
  background-color: #D8CCB6;
  height: 500px;
}
.space2 {
  flex-grow: 2;
  background-color: #E2E2E2;
  height: 500px;
}

.blogContainer {
  height: 430px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.16);
  /* transform: translateY(-1050px); */
  background: #ffffff;
  display: flex;

}
.arrow {
  display: flex;
  font-size: 50px;
  color: #5D5D5D;
  font-family: Enhance;
  align-items: center;
}
 .blogTitle {
   font-family: Regular;
   color: #5D5D5D;
   font-size: 25px;
 }
.blogText {

  color: #5D5D5D;
  font-family: Regular;
  height: 55px;
  font-size: 16px;

}
.blogImageMain {
  margin-top: 15px;
  height: 200px;
  margin-right: 80px;
  border: #5D5D5D 2px solid;
}
.ReadNow {
display: flex;
flex-grow: 2;
text-align: center;
justify-content: center;
align-items: center;
color: #5D5D5D;
font-family: Subtract;
font-size: 30px;
/* transform: translateX(-20px); */
}

.top-story-background {
  background-color: #A2CABE;
  width: 100%;
  text-align: center;
  /* transform: translateY(-2289px); */
  margin-top: -100px;
  padding-top: 150px;

}
.top-story-head {
  color: #ffffff;
  font-family: Enhance;
  font-size: 45px;
}

.story-container {
  background: #ffffff;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.16);
  margin-left: 25px;
  padding-top: 5px;
  padding-right: 5px;
  padding-left: 5px;


}
.Name {
  color: #2D4A86;
  font-family: Regular;
  font-size: 20px;
  margin-left: 15px;
}

.discription {
  color: #5D5D5D;
  font-family: Regular;
  font-size: 15px;
  margin-left: 15px;
}

.follow-button {
  display: flex;
  border: 2px solid #2D4A86;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 30px;
  color: #2D4A86 !important;
  font-family: Regular;
  cursor: pointer !important;
  margin-left: 15px;


}
.follow-button :hover {
  cursor: pointer !important;
}
a {
  text-decoration: none;
}
.header-small {
  text-align: left;
  margin-top: 15px;
  font-family: Regular;
  font-size: 20px;
  color: #5D5D5D;
  margin-left: 15px;

}
.image-small {
  height: 300px;
  border: 3px solid #5D5D5D;
  margin-top: 20px;
}
.read {
  margin-top: 10px;
  font-family: Subtract;
  color: #5D5D5D;
  font-size: 25px;
  margin-bottom: 10px;
}
