<div class="background">
  <div class="container">
      <div class="cancel-icon"><a [routerLink]="['/']" routerLinkActive="" >
        <img src="assets\RepeatGrid12.svg" alt="" class="cross-image"></a>
      </div>
      <h1 class="header">JOIN STOPNC</h1>
      <ul class="nav nav-tabs">
          <li class="nav-item active">
              <a  class="nav-link " data-toggle="tab" href="#home">SIGNUP</a>
          </li>
          <li class="nav-item">
              <a  class="nav-link" data-toggle="tab"  href="#menu1">LOGIN</a>
          </li>
      </ul>
      <hr>
      <div class="tab-content">
          <div id="home" class="tab-pane fade in active">
              <div class="username-text-login">
                  <span class="text side-text">FIRST NAME</span> <span class="text">LAST NAME</span>
                </div>
                <div class="input-field">
                    <span><input type="text" class="name-input" #firstname></span>            <span><input type="text" class="second-input name-input" #lastname></span>
                  </div>
                  <span class="text email-text">EMAIL</span>
                  <div class="input-field">
                    <input type="email" class="email-input" #email>
                  </div>
                  <span class="text email-text">PASSWORD</span>
          <div class="input-field" >
            <input type="password" class="email-input" #password>
          </div>
          <div class="terms">
            <p class="terms-text">
                By clicking "Sign Up" you indicate that you have read and agree to STOPNCs Terms of Service and Privacy Policy.
            </p>
          </div>
          <a (click)="onSignup(email.value, password.value, firstname.value, lastname.value)">
              <div class="signup-button">
                 SIGNUP
               </div>
             </a>
             <br>
          </div>
          <div id="menu1" class="tab-pane fade">
              <span class="text email-text">EMAIL</span>
              <div class="input-field">
                <input type="email" class="email-input" #user_Email>
              </div>
              <span class="text email-text">PASSWORD</span>
      <div class="input-field">
        <input type="password" class="email-input" #user_password>
      </div>
      <br>
      <a (click)="onLogin(user_Email.value, user_password.value)">
          <div class="signup-button">
             LOGIN
           </div>
         </a>
         <br>
          </div>

  </div>
</div>
</div>
