.upper-container {
  background-color: rgb(214, 214, 214);
  height: 380px;
  padding: 10px 10px 10px 20px;
  display: flex;
  align-items: flex-start;
}
.profile-image {
  width: 170px;
  border: #2D4A86;
}
.upload {
  width: 170px;
  background-color: gray;
  opacity: 0.3;
}
.user-info {
  padding: 10px 10px 0px 20px;
}
.user-name {
  margin-top: 0px;
  font-family: Regular;
  color: #2D4A86;
  font-size: 25px;
  margin-bottom: 0px;
}
.small-info {
  font-family: Regular;
  color: #5D5D5D;
  font-weight: bold;
  font-size: 25px;

}
.discription {
  font-family: Regular;
  color: #5D5D5D;
  font-size: 20px;
  width: 100%;

}
.follow-container {
  display: inline-block;

}
.followers {
  float: left;
  margin-right: 40px;
  font-family: Regular;
  color: #2D4A86;
  font-size: 20px;
}
.following {
  float: right;
  font-family: Regular;
  color: #2D4A86;
  font-size: 20px;

}
a {
  position: relative;
  color: #2D4A86;
  cursor: pointer;
  text-decoration: none;
}
.align {
  transform: translateY(-25px);
  height: auto;
  z-index: -1;
  position: absolute;
  width: 100%;

}
.second-container {
  background-color: #A2CABE;
  width: 100%;
  height: 150px;
}
.nav-tabs > li > a:hover{
  background-color: transparent !important;
  border-color: transparent;

}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
  color: #5D5D5D;
  cursor: default;
  background-color: transparent;
  border-bottom-color: #5D5D5D;
  border-left: none;
  border-right: none;
  border-top: none;
}
.navigation-tab {
  font-family: Regular;
  font-size: 30px;
  color: #F7F6F9;
}
.edit {
  position: absolute;
  right: 35px;
  background-color: #2D4A86;
  color: #F7F6F9;
  font-family: Regular;
  font-size: 20px;
  padding-top: 5px;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 5px;
  border-radius: 25px;
  margin: 0px;
}
.edit-text {
  margin: 0px !important;
}
input {
  border: #2D4A86 2px solid;
  padding-left: 5px;
  margin-bottom: 10px;
}
.input-text {
  margin-top: 0px;
  font-family: Regular;
  color: #2D4A86;
  font-size: 20px;

}
textarea {
  border: #2D4A86 2px solid;
  padding-left: 5px;
}
.edit-picture {
  height: 40px;
}
.image-edit {
  position: relative;
  background-color:#F7F6F9;
  border-radius: 25px;
  z-index: 5;
  height: 60px;
  width: 100px;
  display: none;
  align-items: center;
  justify-content: center;
  opacity: 0.9;
  transform: translateX(30px) translateY(-100px);


}
.profile-image:hover + .image-edit {
  display: flex;
}
.image-edit:hover {
  display: flex;
}
