<div class="background">
  <div class="cont">
    <div>
  <img src="assets\final-1.png" alt="" style="height: 65px;">
</div>

<div class="edit"><a [routerLink]="['/mobile/user/edit']" routerLinkActive="router-link-active"  class="edit-link">Edit</a></div>

<div style="padding-left: 15px; padding-right: 8px;">
  <h1 class="name">{{ User.Name | titlecase }}</h1>
  <p class="discription">{{ User.discription }}</p>
</div>
</div>
  <div class="followers">
    <div>
      <p class="discription">{{ User.about }}</p>
    </div>

    <div style="display: flex">
        <p class="followcount">13 followers</p>
        <p class="followcount" style="margin-left: 30px;">15 following</p>

    </div>

  </div>
</div>
<router-outlet name="user-information"></router-outlet>
