.background {
  padding-top: 15px;
  padding-left: 15px;
  background-color:rgb(214, 214, 214);

}
.name {
  font-family: Regular;
  font-size: 25px;
  color: #2D4A86;
  margin-top: 10px;
  margin-bottom: 5px;
}

.cont {
  display: flex;
}
.discription {
  font-family: Regular;
  color: #5D5D5D;
  font-size: 18px;
  margin-top: 5px;

}
.followcount {
  font-family: Regular;
  color: #2D4A86;
  font-size: 15px;
}
