<div class="second-container">
    <ul class="nav nav-tabs">
      <li class="active "><a data-toggle="tab" href="#home" class="navigation-tab" style="padding-left: 20px;">Profile</a></li>
      <li ><a data-toggle="tab" href="#menu1" class="navigation-tab">Responces</a></li>
      <li><a data-toggle="tab" href="#menu2" class="navigation-tab">Likes</a></li>
    </ul>
    <div class="tab-content">
      <div id="home" class="tab-pane fade in active">
        Profile
      </div>
      <div id="menu1" class="tab-pane fade ">
          Responces
        </div>
        <div id="menu2" class="tab-pane fade ">
            Likes
          </div>
      </div>
  </div>
